$main-color: #2a1b3d;
$secondary-color: #44318d;
$accent-color: #d83f87;

$primary-text-color: aliceblue;
$secondary-text-color: #a4b3b6;

$digit-button-color: #a4b4b6;
$operator-button-color: #99669e;

$border-color: black;
